// {
//     "presets":[
//         "@babel/preset-env"
//     ],
//     "plugins": [
//         ["@babel/transform-runtime"],
//         ["istanbul"]
//     ]  
// }

{
    "presets": [
      ["@babel/env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      ["istanbul"]
    ]
  }