# Base URL of the API server to use. No trailing slash.

APP_NAME="Barefoot Nomad API"
APP_URL=http://localhost
PORT=3000

# Server Connection

PORT=7000

# DB Connection 

# Development & Production
# The Node environment
NODE_ENV=development

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_USERNAME=postgres
DB_PASSWORD=admin


# Test DB Connection

TEST_DB_NAME=barefootDB_TEST
TEST_DB_HOST=127.0.0.1
DB_PORT=
TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=admin


# Seed Password

SEED_PASSWORD=Kigali

# Enable debug mode (true) or disable it (false).
APP_DEBUG=false

# URLs to a third party service
API_SERVICE_URL=
# API TOKENS
JWT_KEY=newUserKey

# Email Verification API KEY
SENDGRID_API_KEY=SG.Id
SENDER_EMAIL=barefootnomad7@gmail.com
